body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

:root {
    --def-padding: 1rem 1rem 1rem 1rem;
}

.container {
    /* spacing */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: var(--def-padding);
    padding-bottom: 0;
    padding-top: 0;
}

header h3 {
    margin: 0;
}

header {
    /* spacing */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: max-content;
    padding: var(--def-padding);

    /* styling */
    background-color: white;

}

nav ul {
    /* spacing */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    /* spacing */
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    /* styling */
    color: black;
    text-decoration: none;

    /* spacing */
    padding: 0.25rem;
    border-radius: 1rem;
}

nav li a:hover {
    /* styling */
    background-color: black;
    color: white;
    transition: 0.1s;
}

nav li:last-of-type {
    margin-right: 0;
}

.about {
    /* positioning */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* spacing */
    height: 400px;
    margin-top: 1rem;
    padding: var(--def-padding);
}

.about__intro {
    /* spacing */
    display: flex;
    min-width: calc(60% - 0.5rem);
    height: 100%;
    border-radius: 1rem;
    margin-right: 0.5rem;

    /* styling */
    background-image: url("/images/about_img_blurred.png");
    background-size: cover;
}

.about__intro-content {
    /* spacing */
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.about__intro-content h2, p {
    /* spacing */
    width: 70%;

    /* styling */
    color: white;
}

.about__intro-content h2 {
    /* styling */
    font-size: 1.25em;
}

.about__intro-content p {
    /* styling */
    font-size: 1em;
}

.about__intro-social_btn {
    /* spacing */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
    margin-top: auto;
    padding-bottom: 1.5rem;
    gap: 1em;
}

.contact-btn, .social_media-btn {
    /* spacing */
    padding: 0.7em;
    border-radius: 1.5em;
    border: 0;

    /* styling */
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 2rem;
}

.contact-btn {
    /* spacing */
    width: 9em;

    /* styling */
    font-size: 0.8rem;
    font-weight: 600;
}

.contact-btn:hover, .social_media-btn:hover {
    /* styling */
    background-color: black;
    color: white;
}

.about img {
    /* spacing */
    min-width: 40%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.works {
    /* spacing */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--def-padding);
    gap: 10px;
    background-size: 100% 100%;

    /* styling */
    height: 844px;
}

.works_card {
    /* spacing */
    margin: 0 auto;

    /* styling */
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.works_card__about {
    padding: var(--def-padding);
    height: auto;
}

.works_card__about h2 {
    /* spacing */
    padding: var(--def-padding);

    /* styling */
    background-color: white;
    border-radius: 1em;
    width: max-content;
}

.works_card__about p {
    /* spacing */
    padding: var(--def-padding);

    /* styling */
    border-radius: 1em;
    color: white;
}

.works-button {
    margin: 2rem 2rem 2rem 2rem;
}

.contact {

}

@media (300px < width < 800px) {
    .about {
        flex-wrap: wrap;
        height: auto;
    }

    .about__intro {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .about img {
        width: 100%;
    }

    .about__intro-social_btn {
        grid-template-columns: auto auto auto auto;
    }

    .works {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr 1fr 1fr;
        height: 1200px;
    }
}